.wiki-api {
  flex: 1 0 auto;
}

.result-box {
  background: #fffffff7;
  color: #000;
  border-radius: 10px;
  margin-top: 2em;
  max-height: 800px;
  overflow: auto;
  max-width: 80%;
  position: relative;
  padding: 2em;
  text-align: left;
  display: inline-block;
}
.result-box a {
  color: #0b0080;
}

.result-box a:hover {
  color: #0645ad !important;
}
